.allmediawrapp {
  width: 85%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 1rem 0;
  @include respond(small-phone) {
    width: 95%;
  }
}

.allmediawrapp .heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 25px;
  display: block;
}

.allmediacontainer {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @include respond(small-phone) {
    width: 100%;
  }

  & figure {
    padding: 0.5rem;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & iframe {
      padding: 0.5rem;
      @include respond(tab-land) {
        width: 50%;
      }
      @include respond(small-phone) {
        width: 95%;
      }
    }
  }
}
