.cardWrapper {
  &__body {
    display: flex;
    justify-content: center;
    //align-items: center;
    position: relative;
    &-left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }
    &-right {
      width: 35%;
    }
  }
}
//Popup
.popuptrailer{
  width: 100%;
  height: 100vh;
  position: fixed;
  font-size: 2rem;
  background:#000000a6;
  z-index: 2;
  display: none;
  &__videobox{
    width: 80%;
    min-height: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #ffffffbd;
    font-weight: bold;
  }
  &--show{
display: block;  }

}


//Header
.cardheader__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


//Poster
.posterWrapp {
  width: 100%;
  min-height: 510px;
  // background: linear-gradient(to left, #7f7f7f9e, black),
  //   url(../../assets/testbanner.jpg);
  background-size: cover !important;
  background-position: center 11% !important;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
  margin-bottom: 40px;
  & a {
    color: #fff;
  }
  &__img {
    min-height: 450px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    flex: 0 1 50%;
    color: #fff;
    flex-direction: column;
    padding: 80px 40px;
    &-heading {
      margin-bottom: 25px;
      & h2 {
        margin-bottom: 15px;
        & span {
          color: #d3d8d4;
        }
      }
      & span {
        margin-right: 5px;
      }
    }
    &-actions {
      margin-bottom: 25px;
      &-list {
        display: flex;
        list-style: none;
        align-items: center;
      }
      &-item {
        padding: 0 20px;
        position: relative;
      }

      &-item:hover .movieCrad__tolltip {
        opacity: 5;
        visibility: visible;
      }
      &-item:first-child {
        padding: 0;
      }

      &-link {
        &--video {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &--styled {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #032541;
          & svg {
            font-size: 1rem;
          }
        }
        &--score {
          display: flex;
          align-items: center;
          font-size: 1rem;
          & div {
            width: 65px;
            margin-right: 10px;
            transition: all 0.5s ease;
          }
          & div:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    &-overview {
      margin-bottom: 25px;
    }
    &-cast {
      &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
      }
      &-item {
        width: 20%;
        padding: 1rem 0;
        padding-right: 4rem;
      }
      &-link {
        & p:nth-child(1) {
          font-size: 1rem;
          font-weight: bold;
        }
        & p:nth-child(2) {
          font-size: 0.8rem;
          font-weight: normal;
        }
      }
    }
  }
}

//Actors
.actorsWrapp {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  flex-direction: column;
  max-width: 61rem;
  //margin: 0 auto;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 25px;

  &__heading {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  &__cardsWrapp {
    width: 61rem;
    overflow: auto;
    margin-bottom: 20px;
    padding: 0.5rem 0;

    &-cards {
      display: inline-flex;
      width: 98rem;
      align-items: center;
      & div {
        margin: 0 5px 0 5px;
        padding: 6px 0;
      }
      & a {
        color: black;
        margin-left: 25px;
        display: flex;
        width: 55rem;
        align-items: center;
        font-weight: 700;
      }
    }
    .actorslist {
      margin-left: 0;
      width: 100%;
    }
    &-cards .MuiCardMedia-img {
      height: auto;
    }
  }
}

.name1 {
  font-size: 0.9rem !important;
  margin-top: 15px !important;
}

//Social
.socialWrapp {
  width: 61rem;
  //margin: 0 auto;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 0;
  margin-bottom: 25px;

  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
    &-heading {
      font-size: 1.5rem;
    }
    &-list {
      list-style: none;
      display: flex;
      margin-left: 4rem;
    }
    &-item {
      padding: 0 2rem;
    }
    &-link {
      &--active {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000;
          bottom: -2px;
        }
      }

      & span {
        color: rgb(107, 107, 107);
      }
    }
  }
  &__reviews {
    display: flex;
    flex-direction: column;
    border: 1px solid #cecece8a;
    box-shadow: 0px 0px 2px 3px #f7f5f5;
    padding: 0.7rem 2rem;
    border-radius: 7px;
    //
    margin-bottom: 25px;
    &-header {
      display: flex;
      margin-bottom: 25px;
      // & img {
      //   width: 60px;
      //   height: 60px;
      //   border-radius: 50%;
      //   margin-right: 20px;
      // }
      & h3 {
        display: flex;
        font-size: 1.3rem;
      }
      & h3:hover {
        color: #b20204;
      }
      & span:nth-child(1) {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        width: 50px;
        height: 22px;
        background: #000;
        color: #fff;
        justify-content: center;
        border-radius: 5px;
        margin-left: 10px;
      }
      & span:nth-child(2) {
        font-size: 0.9rem;
        font-weight: 100;
        color: #5d5d5dd1;
        & b {
          color: #000;
        }
      }
    }
    &-body {
      padding-left: 4rem;
      color: rgb(63, 63, 63);
      & p {
        margin-bottom: 25px;
      }
    }
    &-link {
      color: rgb(151, 15, 42);
      text-decoration: underline;
    }
  }
}
//Media
.mediaWrapp {
  width: 61rem;
  //margin: 0 auto;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 0;
  margin-bottom: 25px;

  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
    &-heading {
      font-size: 1.5rem;
    }
    &-list {
      list-style: none;
      display: flex;
      margin-left: 4rem;
    }
    &-item {
      padding: 0 2rem;
    }
    &-link {
      &--active {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #000;
          bottom: -2px;
        }
      }

      & span {
        color: rgb(107, 107, 107);
      }
    }
  }
  &__wrapper {
    width: 61rem;
    box-shadow: 0px 0px 2px 3px #f7f5f5;
    border-radius: 7px;
    overflow: auto;
    //
    margin-bottom: 15px;
    &-media {
      //width: 80rem;
      display: inline-flex;
      align-items: center;

      & img {
        margin-right: 5px;
        object-fit: cover;
        width: 100%;
        display: block;
        height: 300px;
        object-position: top;
      }
      & a {
        color: black;
        margin-left: 25px;
        display: flex;
        width: 120px;
        align-items: center;
        font-weight: 700;
      }
    }
    &-videolink {
      background-image: url(../assets/videobg.jpg);
      background-size: cover;
      padding: 8.8rem;
      margin-right: 5px;
      background-position: center -50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 19px;
      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        & svg {
          width: 5.5rem;
          height: 5.5rem;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.recomandWrapp {
  width: 61rem;
  //margin: 0 auto;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 0;
  margin-bottom: 25px;
  overflow: auto;
  &__heading {
    font-size: 1.5rem;
  }
  &__cards {
    display: flex;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    width: 120rem;
    &-card {
      margin-right: 15px;
      position: relative;
      transition: all 1s ease-in;
      cursor: pointer;
      & img {
        border-radius: 10px;
        display: block;
        width: 100%;
      }
    }
    &-card:hover &-release{
      transform: translate(-50%, -50%);
      opacity: 5;
      visibility: visible;
      bottom: 0%;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      color: #a4a4a4;
    }
    &-release {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -1%;
      left: 50%;
      transform: translate(-50%, 40%);
      opacity: 0;
      visibility: hidden;
      background: #ffffffbd;
      width: 101%;
      height: 47px;
      transition: all .2s ease-in;
      & span {
        margin-left: 15px;
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: bold;
        & svg {
          margin-right: 10px;
        }
      }
    }
  }

}
//CardInfo

.cardInfoWrapp {
  align-items: flex-start;
  margin-top: 25px;
  margin-left: 30px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d7d7d7;
  width: 60%;
}

.cardInfoList {
  list-style: none;
  &__item {
    padding: .6rem 0;
    &__header {
      font-weight: bold;
    }
  }
}

.keywordsWrapp {
  width: 100%;
  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 5px;
  }
  &__link {
    font-size: .8rem;
  }
}
