.movielist-wrapp{
    background: #333;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 1rem;
    position: relative;
    &__card{
        width: 19%;
        margin-bottom: 25px;
        @include respond(phone){
            width: 45%;
        }

    }
    &__link{
        color:#424242;
        text-decoration: none;
    }
}

