@import "../Sass/movielist";
@import "../Sass/navbar";
@import "../Sass/movieCard";
@import "../Sass/Common/btn";
@import "../Sass/Common/loader";
@import "../Sass/Common/tolltip";
@import '../Sass/Common/headerComponent';
@import '../Sass/Common/movieTollTip';
@import '../Sass/footer';
@import '../Sass/staffpage';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
* a{
  color: #000;
}

html{
  //font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;

}

body{
  //font-size: 1.6rem;
  //font-family: 'Source Sans Pro', sans-serif;

}

