@import "../components/MovieList/movielist";
@import "../components/NaigationBar/navbar";
@import "../components/MovieCard/movieCard";
@import "../components/Common/loader";
@import "../components/Common/tolltip";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
* a{
  color: #000;
}

html{
  //font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

// body{
//   font-size: 1.6rem;
// }

