.popularwrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  @include respond(phone) {
    flex-direction: column;
  }

  &__movielist {
    outline: 1px solid gray;
    width: 70%;
    @include respond(tab-port) {
      width: 65%;
    }
    @include respond(phone) {
      width: 90%;
      margin: 0 auto;
  }
}
  &__filters {
    display: flex;
    flex-direction: column;
    width: 17%;
    @include respond(tab-port) {
      width: 25%;
    }
    @include respond(phone) {
      width: 75%;
      margin: 0 auto;
    }
  }
}
