.popularwrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;

  @include respond(phone) {
    flex-direction: column;
  }

  &__movielist {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 6rem;
    @include respond(big-desktop) {
      justify-content: center;
    }
    @include respond(laptop) {
      justify-content: center;
      width: 75%;
    }
    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
      margin-top: 25px;
      justify-content: center;
    }
    &-link {
      width: 21%;
      display: flex;
      justify-content: center;

      @include respond(big-desktop) {
        width: 22%;
      }
      @include respond(laptop) {
        width: 25%;
      }
      @include respond(tab-land) {
        width: 25%;
      }
      @include respond(tab-port) {
        width: 28%;
      }
      @include respond(phone) {
        width: 38%;
      }
      @include respond(small-phone) {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
      }
    }
  }
  &__filters {
    display: flex;
    flex-direction: column;
    width: 17%;
    @include respond(tab-port) {
      width: 21%;
    }
    @include respond(phone) {
      width: 75%;
      margin: 0 auto;
    }
  }
}
