// .movieCard-wrapp{
//     background: #333;
//     color:#fff;
//     display: flex;
//     min-height: 100vh;
//     padding: 2rem 0;
//     &__left{
//         width: 40%;
//         display: flex;
//         justify-content: flex-end;
//        &-poster{
//             width: 70%;
//             padding: 0 1rem;
//             & img{
//                 width:100%;
//             }
//         }
//     }
//     &__right{
//         width: 50%;

//         &-title{
//             text-align: center;
//             margin-bottom: 25px;
//         }

//         &-list{
//            list-style: none;
//         }
//         &-item{
//             padding: 5px 0;
//             font-weight: 500;
//         }
//         &-genre{
//             margin-right: 10px;
//             cursor: pointer;
//         }
//         &-average{
//             position: relative;
//             & svg{
//                 position: absolute;
//                 font-size: 19px;
//                 margin-top: 0px;
//                 left: 26px;
//                 top: -2px;
//             }
//         }
//         &-actorname{
//             margin-right: 10px;
//         }
//         &-actorImg{
//             width: 13%;
//             padding: 7px;
//             margin-bottom: 10px;
//         }
//         &-overview{
//             line-height: 25px;
//             font-size: 1.1rem;
//             width: 90%;
//         }
//     }
// }

.cardWrapper {
}
//Header
.cardheader__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuWrapp {
  display: flex;
  align-items: center;
  justify-content: center;
  &__list {
    // display: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 0;
  }
  &__item {
    padding: 0 40px;
    cursor: pointer;

    & span {
      font-size: 0.9rem;
      display: flex;
      align-items: center;
    }
  }
  &__item:hover &__drop {
    opacity: 5;
    visibility: visible;
  }
  &__drop {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: #fff;
    width: 12rem;
    border: 1px solid #bfbebe2b;
    border-radius: 5px;
    padding: 5px 0;
    &-link {
      color: rgb(78, 78, 78);
      padding: 5px 18px;
      text-transform: capitalize;
      font-size: 0.9rem;
    }
    &-link:hover {
      background: #bfbebe2b;
    }
  }
}
//Poster
.posterWrapp {
  width: 100%;
  min-height: 510px;
  background: linear-gradient(to left, #7f7f7f9e, black),
    url(../../assets/testbanner.jpg);
  background-size: cover;
  background-position-y: 45%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  flex-wrap: wrap;
  margin-bottom: 40px;
  &__img {
    min-height: 450px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 100%;
    }
  }
  &__info {
    display: flex;
    flex: 0 1 50%;
    color: #fff;
    flex-direction: column;
    padding: 80px 40px;
    &-heading {
      margin-bottom: 25px;
      & h2 {
        margin-bottom: 15px;
        & span {
          color: #d3d8d4;
        }
      }
    }
    &-actions {
      margin-bottom: 25px;
      &-list {
        display: flex;
        list-style: none;
        align-items: center;
      }
      &-item {
        padding: 0 20px;
        position: relative;
      }

      &-item:hover .movieCrad__tolltip {
        opacity: 5;
        visibility: visible;
      }
      &-item:first-child {
        padding: 0;
      }

      &-link {
        &--video {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &--styled {
          width: 45px;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #032541;
          & svg {
            font-size: 1rem;
          }
        }
        &--score{
          display: flex;
          align-items: center;
          font-size: 1rem;
          & div{
            width: 65px;
           margin-right: 10px;
           transition: all .5s ease;
          }
          & div:hover{
            transform: scale(1.1);
          }
        }
      }
    }
    &-overview {
      margin-bottom: 25px;
    }
    &-cast {
      &-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
      }
      &-item {
        width: 20%;
        padding: 1rem 0;
        padding-right: 4rem;
      }
      &-link {
        & p:nth-child(1) {
          font-size: 1rem;
          font-weight: bold;
        }
        & p:nth-child(2) {
          font-size: 0.8rem;
          font-weight: normal;
        }
      }
    }
  }
}

//Actors
.actorsWrapp{ 
  outline: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
  &__heading{
    font-size: 1.5rem;
  }
  &__cards{
    display: inline-flex;
  }
}

.name1{
  font-size: 1rem !important;
}