.fulllistwrapp {
}



.credistwrapp {
  width: 75%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  @include respond(phone) {
    width: 96%;
  }
  &-heading {
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    & span {
      color: darkgrey;
    }
  }
  &__cast {
    width: 50%;
  }
  &__crew {
    width: 50%;
  }
}
