.herowrapp__container {
  width: 80%;
  margin: 0 auto;
  min-height: 300px;
  margin-bottom: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.hero_heading{
    padding: 0 3rem;
    margin-top: 55px;
    &__big{
        font-size: 3rem;
    }
    &__subheading{
        font-size: 2rem;
    }
}

.searchinput{
    margin-top:25px;
    padding: 0 3rem;
    position: relative;
    & input{
        width: 100%;
        padding: 1rem .5rem;
        border-radius: 30px;
        border:transparent;
        outline: transparent;
        font-size: 1rem;
        &:focus{
            color: rgba(44, 44, 44, 0.616);
        }
    }
}