.footer{
    min-height: 215px;
    background-image: radial-gradient(#031f35,#04233f );
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
#04233f 
#02243f
#031f35 */