.btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  outline: none;
  &--postertrailer {
    width: 90px;
    @include respond(big-desktop) {
      width: 107px;
    }
  }
  cursor: pointer;
  &:hover {
    // color: rgb(212, 212, 212);
  }
  &--close {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 2rem;
    @include respond(small-phone) {
      right: 6%;
    }
  }
  &--readmore {
    background: transparent;
    color: #00d0ff;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    z-index: 2;
    &:hover {
      color: #1495a2d1;
    }
    & svg {
      width: 0.9rem;
      height: 0.9rem;
      position: absolute;
      top: 5px;
      left: 71px;
      font-size: 1.5rem;
    }
  }
  &--hide {
    display: none;
  }

  &--tooltipclose {
    position: absolute;
    top: 6px;
    right: 7px;
  }
  &--clearall {
    color: #00d0ff;
    &:hover {
      color: #00d0ff;
    }
  }
  &--navbar {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    &:hover {
      background: #fff;
      color: black;
    }
  }
  &--navbarsearch {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--navbarclosesearch {
    background: transparent;
  }
  &--hero {
    position: absolute;
    top: 0px;
    right: 37px;
    color: #fff;
    background: linear-gradient(to right, #69c6b3, #10b6de);
    height: 100%;
    width: 122px;
    border-radius: 30px;
    font-size: 1.5rem;

    &:hover {
      color: #000;
    }
    @include respond(phone) {
      right: 31px;
      width: 75px;
    }
  }
  &--mobile {
    width: 35px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50px;
    //display: flex;
    background: #150f4cb8;
    outline: none;
    justify-content: center;
    align-items: center;
    display: none;
    @include respond(phone) {
      display: flex;
    }

    &:hover {
      background: #4e4e4e42;
    }
    & span {
      display: block;
      width: 15px;
      height: 1px;
      background: #fff;
      position: relative;
      &::before {
        content: "";
        width: 15px;
        height: 1px;
        position: absolute;
        background: #fff;
        top: 5px;
        left: 0px;
      }
      &::after {
        content: "";
        width: 15px;
        height: 1px;
        position: absolute;
        background: #fff;
        bottom: 5px;
        left: 0px;
      }
    }
  }
  &--heronav {
    color: #010131;
    text-transform: capitalize;
    border-radius: 50px;
    padding: 0.5rem 2rem;
    @include respond(phone) {
      width: 100%;
    }
  }
  &--heroactive {
    background: #05054a;
    & span {
      background-image: linear-gradient(to right, #69c6b3, #10b6de);
      background-clip: text;
      color: transparent;
    }
  }
  &--play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    & svg {
      fill: rgba(255, 255, 255, 0.774);
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  &--join {
    background: #805be7;
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 7px;
    outline: none;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
  &--search_filter {
    color: #fff;
    background: rgb(192, 192, 192);
    height: 50px;
    border-radius: 50px;
  }
  &--loadmore {
    position: absolute;
    bottom: 0;
    background: #00d0ff;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    left: 0%;
    &:hover {
      color: #010131;
    }
    @include respond(laptop) {
      width: 80%;
      margin: 0 auto;
      left: 10%;
    }
  }
  &--descending,
  &--ascending {
    color: #000;
    font-size: 1.7rem;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0rem 0.5rem;
    &:hover {
      background: #c3c3c354;
    }
  }
}
