.btn{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    &:hover{
        color: rgb(212, 212, 212);
    }
    &--close{
        position: absolute;
        right:7%;

    }
    &--readmore{
        background: transparent;
        color: #00d0ff;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        z-index: 2;
        &:hover{
            color: #1495a2d1;
        }
        & svg{
            width: .9rem;
            height: .9rem;
            position: absolute;
            top: 5px;
            left: 71px;
            font-size: 1.5rem;
        }

    }
    &--hide{
        display: none;
    }
}