.card{
    margin-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    cursor: pointer;
    &__img{
        & img{
            width: 15rem;
            object-fit: cover;
            border-radius: 11px;
        }
    }
    &__popular{
        position: relative;
        margin-bottom: 25px;
        & svg{
            width: 23%;
            position: absolute;
            top: -27px;
            left: 9px;
            font-weight: bold;
        }
    }
    &__info{}
}

.CircularProgressbar-background {
    fill: green;
  }