//home Page card

.card {
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  cursor: pointer;
  
 
  &__img {
    & img {
      width: 18rem;
      object-fit: cover;
      border-radius: 11px;
      height: 270px;
    }
  }
  &__popular {
    position: relative;
    margin-bottom: 25px;
    & svg {
      width: 18%;
      position: absolute;
      top: -22px;
      left: 9px;
      font-weight: bold;
      @include respond(tab-port) {
        top: -21px;
      }
    }
  }
  &__info {
    margin-bottom: 30px;
  }
}

.CircularProgressbar-background {
  fill: green;
}


// Popular Movies Card

.card__movie {
  width: 80%;
  border: 1px solid #e6e6e62e;
  display: flex;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 2px 7px 1px #ababab80;
  transition: all .5s ease;
  flex-direction: column;
  //margin-right: 20px;
  cursor: pointer;
  &:hover{
      transform: scale(1.07);
  }
  @include respond(big-desktop){
      width: 80%;
  }
  @include respond(tab-land){
      width: 97%;
  }
  @include respond(tab-port){
      width: 98%;
  }
  @include respond(phone){
      width: 90%;
  }
  @include respond(small-phone){
      width: 90%;
      margin-right: 5px;
  }
  &-img{
    width: 100%;
    & img{
      width: 100%;
      object-fit: cover;
      border-radius: 0;
      height: 270px;
      @include respond(small-phone){
        height: 316px;
    }
    }
  }
  &-popular {
    position: relative;
    margin-bottom: 25px;
    & svg {
      width: 18%;
      position: absolute;
      top: -22px;
      left: 9px;
      font-weight: bold;
      @include respond(tab-port) {
        top: -21px;
      }
    }
  }
  &-info {
    margin-bottom: 30px;
    padding: 0rem 1rem;
}
}