.tooltipwrap {
  position: absolute;
  left: 26%;
  width: 400px;
  min-height: 200px;
  top: -24px;
  padding: 0.5rem;
  background: #032541;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  display: none;
  z-index: 555;
  font-family: "Source Sans Pro";
  @include respond(small-phone) {
    left: 9%;
    width: 282px;
    min-height: 151px;
    top: -16px;
  }

  &__img {
    width: 25%;
    margin-right: 10px;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__desc {
    flex-grow: 1;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 70%;
    @include respond(small-phone) {
      font-size: 1.3rem;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__about {
      font-size: 1.5rem;
      @include respond(small-phone) {
        font-size: 1.2rem;
      }
    }
  }
  &--show {
    display: flex;
  }
}
